.acceuil__bandeau {
  background: url('../../assets/home.png');
  background-size: cover;
  background-position-y: 50%;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  & h1 {
    color: white;
    font-size: 48px;
    font-weight: 500;
  }
}
