.about__banner {
  filter: brightness(0.6);
  background: url('../../assets/about.png');
  background-size: cover;
  background-position-y: 50%;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  margin-bottom: 40px;
}
