.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 60px;
  background-color: $secondary-color;
  border-radius: 25px;
  @media (max-width: 600px) {
    padding: 0px;
    gap: 20px;
    background-color: #ffffff;
    flex-direction: column;
  }

  & .link-card {
    height: 340px;
    border-radius: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    min-width: 240px;
    position: relative;
    @media (max-width: 600px) {
      height: 255px;
    }

    & .grid-card {
      height: 100%;
      width: 100%;
      border-radius: 10px;

      &__filter {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(#ffffff, #000000 50%);
        opacity: 0.3;
        border-radius: 10px;
        &:hover {
          background: linear-gradient(180deg, #ff6060 85%, #000000a6 100%);
          opacity: 0.6;
        }
      }

      &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }

      & h2 {
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
        position: absolute;
        bottom: 0%;
        color: white;
        z-index: 1;
      }
    }
  }
}
