.section__carrousel {
  height: 415px;
  width: 100%;
  border-radius: 25px;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 80px;
  border: 2px red solid;

  &__left {
    position: absolute;
    top: 40%;
    left: 2%;
    cursor: pointer;
  }
  &__right {
    position: absolute;
    top: 40%;
    right: 2%;
    cursor: pointer;
  }

  & img {
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
  }

  &__number {
    display: none;
  }
}
