.footer {
  width: 100%;
  background: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  &__text {
    font-size: 24px;
    font-weight: 500;
    color: white;
  }
}
